{% extends 'kidsachieve/base_kidsachieve.html' %}



{% block title %}
Achievements list of {{ child.first_name }}
{% endblock %}

{% block before_content %}
    {% include 'kidsachieve/includes/cru_menu_kidsachieve.html' %}
{% endblock %}

{% block table %}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid black;

    }
</style>

<h3>List of achievements {{ child.first_name }} aka {{child.nick_name}} </h3>

    <table>
            <tr>
                <td> data <td/>
                <td> work <td/>
                <td> comments <td/>
                <td> points <td/>
                <td> benefit points <td/>
                <td> action <td/>
            </tr>
        {% for ach in ach_lst %}
            <tr>

                <td>{{ ach.date_done }}<td/>
                <td>{{ ach.work_title }}<td/>
                <td>({{ ach.comment }})<td/>
                <td>{{ ach.work_title.point }}<td/>
                <td>({{ ach.benefit_point }})<td/>
                <td>
                      <a href="{{ach.get_update_url}}">edit</a> /
                      <a href="{{ach.get_delete_url}}">delete</a>

                <td/>

            </tr>

        {% endfor %}

                <tr>
                    <td>  <td/>
                    <td>  <td/>
                    <td> Total: <td/>
                    <td> {{ sum_work_points }} <td/>
                    <td> {{ sum_ben_points }} <td/>
                    <td> {{ total_sum }} <td/>
                </tr>
    </table>



{% endblock %}