{% extends "kidsachieve/base_kidsachieve.html" %}



{% block title %}
    Kids achievement
{% endblock %}


{% block before_content %}

<a href="{% url 'child_create_url' %}">Child create</a>
<a href="{% url 'work_create_url' %}">Work create</a>
<a href="{% url 'achievement_create_url' %}">Achievement create</a>

{% endblock %}

{% block content %}

<h1> There are children: </h1>

{% for child in children %}
<a href="{% url 'child_achievements_list_url' nick_name=child.nick_name %}">
<p> {{ child.first_name }} aka {{child.nick_name}} </p>
</a>
{% endfor %}

<h1> There are works: </h1>

{% for work in works %}
<p> {{ work.title }} </p>
{% endfor %}

{% endblock %}


